[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trading-bots = "*"
"pushbullet.py" = "*"
slacker = "*"
zappa = "*"

[dev-packages]

[requires]
python_version = "3.6"
